/* 
    Created on : 13/05/2017, 19:10:36
    Author     : marialucrecia
*/

*{  margin: 0;
    font-style: italic;
    box-sizing: border-box;
    color: white;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.bambu   {   
    background-image: url(https://cdn.glitch.com/a691d5a4-c3d2-4d7a-9d60-87a4d2d39a69%2Fbamboo.jpg?1495462851714);
    background-attachment: fixed;
    background-size: cover;
    direction: ltr;       
}


.active {
    background-color: #4CAF50;
}

.encab{
    position: fixed;
    height: 60px;
    width: 100%;
    background-image: url(https://cdn.glitch.com/a691d5a4-c3d2-4d7a-9d60-87a4d2d39a69%2Fverde.jpg?1495463151310);
    background-size: cover;
    font-family: sans-serif; 
    font-size: 3em;
    font-weight: bold;
}
@media only screen and (orientation: landscape) {
    body {
    background-image: url(https://cdn.glitch.com/a691d5a4-c3d2-4d7a-9d60-87a4d2d39a69%2Fbanner2.jpg?1495463085716);
    background-attachment: fixed;
    background-size: cover;
    direction: ltr;       
    min-height: 600px;
    overflow: scroll;    
    }

ul {
    position: fixed;
    top: 55px;
    list-style-type: none;
    float: left;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 1em;
    font-weight: normal;
    width: 80%;
    margin-left: 0;
}

  li {
    float: right;
    top: 0;
    width: 10%;
  }
  
li a {
    display: block;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.contenido{
    padding: 20px;

}
  
#contajax{
    top: 100px;
    max-height: 550px;
    padding-left: 7px;
    position: fixed;
    overflow: auto;
    width: 85%;
    background-image: url(https://cdn.glitch.com/a691d5a4-c3d2-4d7a-9d60-87a4d2d39a69%2Fbanner2.jpg?1495463085716);
    background-size: cover;
  }

.col-1{      
    padding: 20px;
    clear: inherit;
} 

.col-2{      /*columna derecha */
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
    height: 860px; 
    background-color:  #141414;
    text-align: right;
    padding-right: 15px;
}

[class*="col-"]{
    padding-top: 2em;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
      position: fixed;
      width:  100%;
      height: 35px;
      background-image: url(https://cdn.glitch.com/a691d5a4-c3d2-4d7a-9d60-87a4d2d39a69%2Fbanner2.jpg?1495463085716);
      background-size: cover;
      padding-top: .5em;
      padding-right: 25px;
      color: white;
      bottom: 0;
      left: 0;
      text-align: right;
      border-top:  2px solid #4CAF50;
}
div.gallery {
    
    margin: 15px;
    border: 3px solid #ccc;
    float: left;
    width: 220px;
}

div.gallery:focus{
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: #141414;
    color: white;
    width: 212px;
}
.after-galeria{
    clear: right;
    border: 3px solid red;
}

/* em el footer */
#visitantes{
    position: absolute;
    left: 15px;
    width: 60px;
}
#etVisitantes{
    position: absolute;
    left: 80px;
    width: 220px;
}
/* en el footer */
/* columna derecha - arriba de todo Hola Usuario */
.boxLogin{
    position: relative;
    top:0;
    left: 30px;
    height: 30px;
    width: 80%;
    padding-top: 10px;
    font-size: 1.2em;
    text-align: center;
}
#loginOK{
    margin-right: 10px;
}
/* columna derecha - arriba de todo. Hola Usuario */

/* columna derecha - es donde se loguea el Usuario */
#contUser{
    top: 0px;
    position: absolute;
    width: 100%;
}
#user{
    position: absolute;
    width:  45%;
    height: 20px;
    top: 110px;
    left: 0;
    margin-left: 15px;
    color: black;
}
#pass{
    position: absolute;
    width: 45%;
    height: 20px;
    top: 140px;
    left: 0;
    margin-left: 15px;
    color: black;
}
#etuser{
    position: absolute;
    width:  45%;
    height: 20px;
    top: 110px; 
    right: 0;
    padding-right: 20px;
    color: white;
}
#etpass{
    position: absolute;
    width:  45%;
    height: 20px;
    top: 140px;
    right: 0;
    padding-right: 20px;
    color: white;
}
#botPresAqui{
    position: absolute;
    margin-top: 25px;
    width:  60%;
    height: 20px;
    top: 150px;
    color: chocolate;
    margin-left: 15px;
}
/* columna derecha - es donde se loguuea el Usuario */

/* abajo del box text y el boton */

#comentarios{
    position: absolute;
    top: 210px;
    color: white;
    padding-left: 15px;
    text-align: left;
}
#loginError{
    margin-right: 10px;
}
/* abajo del box text y el boton */

.fotosL{
    float: left;
    width: 300px;
    max-width: 50%;
    max-height: 50%;
    margin: 15px;
    position: relative;
}
  .textoL{
    float: left;
    width: 80%;
  }
.fotosR{
    float: right;
    width: 300px;
    max-width: 50%;
    max-height: 50%;
    margin: 15px;
    position: relative;  
}
  .textoR{
    float: right;
    width: 80%;
}
  .fotoAncha{
        float: left;
        max-width: 500px;
  }}